---
layout: default
paginate: true
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
    <br> <br>
    <div class="news-cards">
      <div id="newsCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for news in site.data.news %}
          {% if news.id < 2 %}
          <div class="carousel-item {% if news.id == 0 %} active {% endif %}">
            <div class="card">
              <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                <h5 class="card-title" style="margin: 0; max-width: 80%;">{{news.headline}}</h5>
                <p class="card-text" style="margin: 0;">{{news.date}}</p>
              </div>
            </div>
          </div>      
          {% endif %}
        {% endfor %}
      </div>
    
    <a class="carousel-control-prev" href="#newsCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#newsCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>


    </div>
    </div>
  </div>
</div> 

<div class="wrapper" style="max-width: 70em">

<div>
<br><br>
<h3>Welcome to the SecAI Lab</h3>
<br>
We are a security research group in the Department of Computer Science and Engineering 
at the College of Computing and Informatics, Sungkyunkwan University. 
The number of computing devices, such as laptops, workstations, mobile devices, 
Internet of Things, and cloud services, has been increasing rapidly and is increasingly 
communicating with each other. Accordingly, a vast amount of digitized data becomes 
available, necessitating information security across the board. 

<br>
<!-- <div class="card-sliders ">
	<div class="container ">
		<div class="row align-items-center">
			<div class="col-md">
				<div class="row mt-5">
					<div class="col-lg">
						<div class="card-decks">
							<div class="card-deck deck-active">
								<div class="card">
								  <img class="card-img" src="images/pubs/benzene.png" alt="Card image">								  
								</div>
								<div class="card">
							  <img class="card-img" src="images/pubs/r2i.png" alt="Card image">							  
							</div>
								<div class="card">
							  <img class="card-img" src="images/pubs/binadapter.png" alt="Card image">							  
							</div>
							</div>
							<div class="card-deck">
								<div class="card">
								  <img class="card-img" src="images/pubs/smartmark.png" alt="Card image">								  
								</div>
								<div class="card">
							  <img class="card-img" src="images/pubs/asmdepictor.png" alt="Card image">							  
							</div>
								<div class="card">
							  <img class="card-img" src="images/pubs/binshot.png" alt="Card image">							  
							</div>
							</div>
						</div>
					</div>

				</div>
			
				
			</div>
		</div>
		
	</div> -->

<br>
The SecAI lab focuses on system/software security and emerging technologies
that require security. In particular, we are working on security with 
artificial intelligence (AI), where our lab name originates from. 

Our interests span a range of topics where deep learning can be applied, 
including, but not limited to, executable binary analysis 
(e.g., benign software and malware), code semantics, 
advanced attack detection and prevention, and digital forensics.

<br> <br>
I am Hyungjoon Koo who leads the SecAI lab. Since 2021, the lab has been growing with active research underway.
<!-- We are looking for a passionate Ph.D. student (Preferred fields: binary analysis with AI, privacy) to join our lab!-->

If you think you are someone who <br>
[+] Enjoys endless intellectual exploration, <br>
[+] Possesses curiosity and a desire to uncover the unknown digital world, and <br>
[+] Drives to move forward together in making the world more secure, <br>
please complete the form below to apply as a candidate:
<a href="https://forms.gle/FsHk1u8WrTKLayHVA" target=blank>Application</a>
(An application via an email may not be considered).
</div>

</div>

</div>
</div>
