---
layout: default
paginate: true
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
    <br> <br>
    <div class="news-cards">
      <div id="newsCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for news in site.data.news %}
          {% if news.id < 2 %}
          <div class="carousel-item {% if news.id == 0 %} active {% endif %}">
            <div class="card">
              <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                <h5 class="card-title" style="margin: 0; max-width: 80%;">{{news.headline}}</h5>
                <p class="card-text" style="margin: 0;">{{news.date}}</p>
              </div>
            </div>
          </div>      
          {% endif %}
        {% endfor %}
      </div>
    
    <a class="carousel-control-prev" href="#newsCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#newsCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>


    </div>
    </div>
  </div>
</div> 

<div class="wrapper" style="max-width: 70em">

<div>
<br><br>
<h3>Welcome to the SecAI Lab</h3>
<br>
SecAI is a security research group in the Department of Computer Science and Engineering 
at the College of Computing and Informatics, Sungkyunkwan University. 

As computing devices (e.g., laptops, workstations, mobile, and IoT devices) 
and services (e.g., cloud platforms, large language models) continue to grow rapidly, 
securiy and privacy have become essential at all times.

Accordingly, our lab focuses on <a href="research/">practical software security and emerging technologies
that require robust security foundations</a>. In particular, we conduct research on 
AI-assisted security and securing AI models, from which our lab name originated. 

Our research interests span a broad range of topics where deep learning can be applied, 
including, but not limited to, executable binary analysis 
(e.g., benign software and malware), code semantics, 
advanced attack detection and prevention, digital forensics, etc.

<!-- <div class="card-sliders ">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md">
				<div class="row mt-3">
					<div class="col-lg">
						<div class="card-decks">
							<div class="card-deck deck-active">
								<div class="card">
								  <img class="card-img" src="images/main1.jpg" alt="Card image">								  
								</div>
								<div class="card">
							  <img class="card-img" src="images/main2.jpg" alt="Card image">							  
							</div>
								<div class="card">
							  <img class="card-img" src="images/main3.jpg" alt="Card image">							  
							</div>
							</div>
						</div>
					</div>

				</div>
			
				
			</div>
		</div>
		
	</div> 
-->


<br> <br>
Since 2021, the lab has been steadily growing with <a href="publications/">active research underway</a>.
<!-- We are looking for a passionate Ph.D. student (Preferred fields: binary analysis with AI, privacy) to join our lab!-->

If you think you are someone who a) <em>enjoys intellectual exploration</em>;
b) <em>desires to uncover the unknown digital world</em>; or
c) <em>works collaboratively toward making the world more secure</em>, 
we encourage you to apply by completing 
<a href="https://forms.gle/FsHk1u8WrTKLayHVA" target=blank>the application form</a>. 

After a careful review, we will contact condidates directly.
Please note that applications via email may not be considered.

Applicants should be motivated by a genuine interest in research. 
Applications driven primarily by a) degree completion, b) employment postponement, 
or c) financial reasons are unlikely to be a good fit for the lab.
</div>

</div>

</div>
</div>
