<li class="nav-link">
	<a href="{{ site.url }}{{ site.baseurl }}/" style="color: #111">Home</a>
</li>
<li class="nav-link">
	<a href="{{ site.url }}{{ site.baseurl }}/members" style="color: #111"
		>Members</a
	>
</li>
<li class="nav-link">
	<a href="{{ site.url }}{{ site.baseurl }}/publications" style="color: #111"
		>Publications</a
	>
</li>
<li class="nav-link">
	<a href="{{ site.url }}{{ site.baseurl }}/research" style="color: #111"
		>Research</a
	>
</li>
<li class="nav-link">
	<a href="{{ site.url }}{{ site.baseurl }}/teaching" style="color: #111"
		>Teaching</a
	>
</li>
<!--<li class="nav-link"><a href="{{ site.url }}{{ site.baseurl }}/activities" style="color: #111;">Activities</a></li>-->
<li class="nav-link">
	<a href="{{ site.url }}{{ site.baseurl }}/seminar" style="color: #111"
		>Seminar</a
	>
</li>
<li class="nav-link">
	<a href="{{ site.url }}{{ site.baseurl }}/gallery" style="color: #111"
		>Gallery</a
	>
</li>
